.a-wrapper{
  display: flex;
  flex-direction: row;
  position: relative;
}
.board{
  width: 100%;
  background-color: blueviolet;
  position: relative;
}
.tools{
  width:50px;
  height:100vh;
  background-color: red;
}